[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
asyncpg = "*"
sqlalchemy = "*"
alembic = "*"
python-jose = "*"
passlib = "*"
bcrypt = "==4.0.1"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
